@import './-variables.scss';
@import './-mixins.scss';

.banner {
    @include dimension(100%, 400px);
    overflow: hidden;
    position: relative;
    &__img {
        @include dimension(100%, 100%);
        position: absolute;
        object-fit: cover;
    }
    &__content {
        position: absolute;
        top: 40%;
        left: 70%;
        transform: translate(-50%, -50%);
        width: 300px;
        margin: 2rem;
        padding: 2rem;
        text-align: left;
        background-color: $white-color;
    }
    &__subtitle {
        @include fontStyle(1.5rem, 700);
        margin: 0;

    }
    &__text {
        @include fontStyle(1.2rem, 500);
    }
}

// Media queries

@media screen and (max-width: 920px) {
    .banner {
        @include dimension(100%, 300px);
        &__content {
            top: 30%;
            left: 50%;
            transform: translate(-62%, -50%);
            width: 200px;
            padding: 1rem;
        }
        &__subtitle {
            @include fontStyle(1rem, 700);
        }
        &__text {
            @include fontStyle(0.9rem, 500);
        }
    }
}
