@import './-variables.scss';
@import './-mixins.scss';

.editUser {
    width: 100%;
    height : 903px;
    background-color: $bg-grey-color;
    &__header {
        @include fontStyle (32px, 700);
        @include flexContainer(column, center, center);
        color: $black-color;
        max-height: 400px;
        padding-bottom: 2rem;
        text-align: center;
    }
    &__title {
        @include fontStyle (32px, 700);
    }
    &__form {
        @include flexContainer(column, center, center);
        gap: 20px;
    }
    &__input {
        @include flexContainer(row, center, center);
        gap: 20px;
        input {
            @include fontStyle (1.1rem, 500);
            padding: 0.7rem;
            border: solid 1px #b9b7b7;
            border-radius: 5px;
            color: #b9b7b7;
            width: 45%;
        }
    }
    &__btn {
        @include flexContainer(row, center, center);
        gap: 20px;
        button {
            @include fontStyle (1.1rem, 500);
            padding: 0.7rem;
            border: solid 1px #7921f4;
            border-radius: 5px;
            color: #7921f4;
            background-color: $white-color;
            width: 100px;
        }
    }
    &__editButton {
        @include flexContainer(column, space-between, center);
        @include fontStyle(1.1rem, 700);
        background-color: $bg-green-color;
        border-color: $bg-green-color;
        color: $white-color;
        padding: 8px;
        margin-top: 1rem;
        max-width: 87px;
        text-decoration: none;
    }
}

@media screen and (max-width: 550px) {
    .editUser {
        &__input {
            @include flexContainer(column, center, center);
            input {
                width: 83%;
            }
        }
    }
}