@import './-variables.scss';
@import './-mixins.scss';

.feature {
    @include dimension(33%, 300px);
    @include flexContainer(column, normal, center);
    padding: 2.5rem;
    &__icon {
        @include dimension(100px, 100px);
        border: 10px solid #00bc77;
        border-radius: 50%;
        padding: 1rem;
        margin-bottom: 5px;
    }
    &__title {
        @include fontStyle(20px, 700);
        margin-bottom: 15px;
    }
    &__text {
        text-align: center;
        margin: 0;
    }
}

@media screen and (max-width: 920px) {
    .feature {
        @include dimension(90%, 250px);
    }
}